button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9998;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 0;
    border-radius: 50%;
    background-color: #00ff0090;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
}