.container{
    width: 100%;
    min-height: 100vh;
    background-color:#0e0c0c;
    color: #fff;
    padding-bottom: 1rem;
    text-align: center;     
    padding-inline: 1rem;    
    overflow: hidden;
}
  