.container {
    width: 100%;
    min-height: 100vh; /* aula 14 */
    background-color: #0e0c0c;
    color: #fff;
    padding-bottom: 1.5rem; /* aula 14 */
    text-align: center;
    padding-inline: 1.5rem; /* aula 14 */
    overflow: hidden; /* aula 14 */
}

/* extra 02 responsividade */
@media (max-width: 1024px) {
    .container {
        padding-inline: 2.5rem;
    }
}