.banner {
  width: 100%;
  height: 21.688rem;
  /* background-image: url("/public/img/banner-home.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:68px;

}
                                        